<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
</head>

<body>

    <h1>Books</h1>

    <h2>Add a Book</h2>

    <form action="/books/create" method="POST">

        {% csrf_token %}

        <label>Title:</label>
        <input type="text" name="title">

        <br><br>

        <label>Description:</label>
        <input type="text" name="desc">

        <br><br>

        <button type="submit">
            Add Book
        </button>

    </form>


    <hr>


    <h2>All Books</h2>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>

        {% for book in books %}

        <tr>

            <td>
                {{ book.id }}
            </td>

            <td>
                {{ book.title }}
            </td>

            <td>
                <a href="/books/{{ book.id }}">
                    View
                </a>
            </td>

        </tr>

        {% endfor %}

    </table>


    <br>

    <a href="/authors">
        Go to Authors
    </a>

</body>
</html>