<!DOCTYPE html>
<html>
<head>
    <title>Book Details</title>
</head>

<body>

    <h1>Book Details</h1>

    <h2>
        {{ book.title }}
    </h2>

    <p>
        Description: {{ book.desc }}
    </p>


    <hr>


    <h2>Authors</h2>

    <ul>

        {% for author in book.authors.all %}

            <li>
                {{ author.firstname }}
                {{ author.lastname }}
            </li>

        {% empty %}

            <li>
                No authors yet.
            </li>

        {% endfor %}

    </ul>


    <hr>


    <h2>Add an Author</h2>

    <form
        action="/books/{{ book.id }}/add-author"
        method="POST"
    >

        {% csrf_token %}

        <select name="author_id">

            {% for author in authors %}

                <option value="{{ author.id }}">

                    {{ author.firstname }}
                    {{ author.lastname }}

                </option>

            {% endfor %}

        </select>

        <button type="submit">
            Add
        </button>

    </form>


    <br>

    <a href="/books">
        Back to Books
    </a>

</body>
</html>